enable_cloudflare_resources = false

cloudflare_account_id             = "REPLACE_WITH_DISCOVERED_32_HEX_ACCOUNT_ID"
cloudflare_naranjo_online_zone_id = "REPLACE_WITH_DISCOVERED_NARANJO_ONLINE_32_HEX_ZONE_ID"
cloudflare_lidersea_com_zone_id   = "REPLACE_WITH_DISCOVERED_LIDERSEA_COM_32_HEX_ZONE_ID"

pi_admin_cidr                       = "REPLACE_WITH_EXACT_PRIVATE_IPV4/32"
admin_email                         = "REPLACE_WITH_EXACT_ADMIN_IDENTITY"
admin_device_posture_check_id       = "REPLACE_WITH_DISCOVERED_POSTURE_CHECK_ID"
pi_admin_allow_precedence           = 0
pi_admin_block_precedence           = 1
